@using Domain.Common;
@model Domain.Core.SearchParameters

@{
    ViewBag.Title = "Index";
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "resultsDiv",
        Url = Url.Action("Find"),
        LoadingElementId = "loading",
        OnBegin = "OnBegin",
        OnFailure = "OnFailure",
        OnSuccess = "OnSuccess",
        OnComplete = "OnComplete"
    };
}

@using (Ajax.BeginForm(ajaxOptions))
 {
    @Html.ValidationSummary()
                                    
    <p>Выбрать: @Html.TextBoxFor(x => x.FolderPath)</p>
    <p>@Html.CheckBoxFor(x => x.IsSearchInSubfolders) Поиск в подкаталогах</p>
    <p>Размер:</p>
    <p>не более: @Html.TextBoxFor(x => x.FileLength) Кб</p>
    <p>Дата:</p>
    <p>создан ранее: @Html.TextBoxFor(x => x.CreationDate, new { @type = "date", @Value = Model.CreationDate.ToString("yyyy-MM-dd") })</p>
    <p>Аттрибуты:</p>
    <p>
        @for (int i = 0; i < Model.FileAttributes.Count(); i++)
        { 
            @Html.CheckBoxFor(m => Model.FileAttributes[i].IsChecked)
            @Model.FileAttributes[i].Text
            @Html.HiddenFor(m => Model.FileAttributes[i].Text)
            @Html.HiddenFor(m => Model.FileAttributes[i].Value)
        }
    </p>
    <p>Расширенный поиск:</p>
    <p>
        @Html.DropDownListFor(x => x.PluginModuleId, ((IEnumerable<IPluginModule>)ViewBag.Plugins).
            Select(x => new SelectListItem() { Text = x.Name, Value = x.ToString() }), "Choose plugin...")
    </p>
    <input type="submit" id="findButton" value="Искать..." />
    <br />
    <input type="submit" id="sendAjax" value="Поиск Ajax" onclick="GetData()" />
    <input type="submit" id="cancelButton" value="Отменить поиск" onclick="cancelSearch()" />
    <input type="submit" id="etet0" value="Test" onclick="startTest()" />
 }

<div id="resultsDiv">
    @Html.Action("Find", new { parameters = Model })
</div>

<div id="loading" style="display: none; color: Red; font-weight: bold;">
    <p>Идет поиск...</p>
</div>

@section scripts{
    <script>
        function OnBegin() {
            //alert("Происходит отправка запроса");
            //$("#findButton").attr('value', 'Остановить поиск');
        }
        function OnSuccess(data) {
            //alert("Запрос был успешно выполнен. Получены следующие данные: \n" + data);
        }
        function OnFailure(request, error) {
            $("#resultsDiv").html("Ошибка выполнения поиска.");
        }
        function OnComplete(request, status) {
            //alert("Статус запроса : " + status);
            //$("#findButton").attr('value', 'Искать...');
        }
        function cancelSearch() {
            alert("Cancel occured!");
            syncMethod.abort();
        }

        var syncMethod;
        function GetData() {
            syncMethod = $.ajax({
                cache: false,
                url: 'Home/Find',
                type: "POST"
            });
        }

        function startTest() {
            var xhr = $.ajax({
                cache: false,
                url: 'Home/Find',
                type: "POST"
            });
            
            setTimeout(function () {
                xhr.abort();
                alert('Test aborted');
            }, 10);
        }
    </script>
}