@using Domain.Common;
@model Domain.Core.SearchParameters

@{
    ViewBag.Title = "Index";
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "resultsDiv",
        Url = Url.Action("Find"),
        LoadingElementId = "loading",
        OnBegin = "OnBegin",
        OnFailure = "OnFailure",
        OnSuccess = "OnSuccess",
        OnComplete = "OnComplete"
    };
}

@using (Ajax.BeginForm(ajaxOptions))
 {
    @Html.ValidationSummary()
                                    
    <p>Выбрать: @Html.TextBoxFor(x => x.FolderPath)</p>
    <p>@Html.CheckBoxFor(x => x.IsSearchInSubfolders) Поиск в подкаталогах</p>
    <p>Размер:</p>
    <p>не более: @Html.TextBoxFor(x => x.FileLength) Кб</p>
    <p>Дата:</p>
    <p>создан ранее: @Html.TextBoxFor(x => x.CreationDate, new { @type = "date", @Value = Model.CreationDate.ToString("yyyy-MM-dd") })</p>
    <p>Аттрибуты:</p>
    <p>
        @for (int i = 0; i < Model.FileAttributes.Count(); i++)
        { 
            @Html.CheckBoxFor(m => Model.FileAttributes[i].IsChecked)
            @Model.FileAttributes[i].Text
            @Html.HiddenFor(m => Model.FileAttributes[i].Text)
            @Html.HiddenFor(m => Model.FileAttributes[i].Value)
        }
    </p>
    <p>Расширенный поиск:</p>
    <p>
        @Html.DropDownList("SelectedPluginModule", ViewBag.ModulesDropDown as IEnumerable<SelectListItem>, new { @id = "SelectedPluginModule" })
        Строка для поиска: @Html.TextBox("SearchPattern")
    </p>
    
    <div>
        <input type="submit" id="findButton" value="Искать..." />
    </div>
    <div id="loading">
        <p>Идет поиск...</p>
    </div>
    @*
    <br />
    <input type="submit" id="sendAjax" value="Поиск Ajax" onclick="getData()" />
    <input type="button" id="cancelButton" value="Отменить поиск" onclick="cancelSearch()" />
    *@
 }

<div id="resultsDiv"></div>

@section scripts{
    <script>
        function OnBegin() {
            //$("#findButton").attr('value', 'Остановить поиск');
            $("#findButton").prop('disabled', true);
        }
        function OnSuccess(data) {
            //alert("Запрос был успешно выполнен. Получены следующие данные: \n" + data);
        }
        function OnFailure(request, error) {
            $("#resultsDiv").html("Ошибка выполнения поиска!");
        }
        function OnComplete(request, status) {
            //$("#findButton").attr('value', 'Искать...');
            $("#findButton").prop('disabled', false);
        }


        //var syncMethod;
        //function getData() {
        //    syncMethod = $.ajax({
        //        cache: false,
        //        url: 'Home/Find',
        //        type: "POST"
        //    });
        //}

        //function cancelSearch() {
        //    alert("Cancel occured!");
        //    syncMethod.abort();
        //}

        var timer = setInterval(updateDiv, 5000);
        function updateDiv() {
            var url = '@Url.Action("RefreshModules")';
            var ddl = $("#SelectedPluginModule");

            $.getJSON(url, { selectedValue: ddl.val()}, function (response) {
                ddl.empty();
                $.each(response, function (index, item) {
                    ddl.append($('<option></option>').val(item.Value).html(item.Text).prop('selected', item.Selected))
                });
            });
        }
    </script>
}