@model Domain.Core.SearchParameters
@using Common;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @*<div> 
        @if (Model == null)
        {
            <h2>No plugins</h2>
        }
        else
        {
            <h2>Plugins:</h2>

            foreach (var module in Model)
            {
                <p>
                    <b>@module.Name</b> - @module.ToString()
                </p>
            }
            <p>
                <a href="@Url.Action("finder", "home")">Find...</a>
            </p>
        }
    </div>*@
    <div>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
                                    
            <p>Выбрать: @Html.TextBoxFor(x => x.FolderPath)</p>
            <p>@Html.CheckBoxFor(x => x.IsSearchInSubfolders) Поиск в подкаталогах</p>
            <p>Размер:</p>
            <p>не более: @Html.TextBoxFor(x => x.FileLength) Кб</p>
            <p>Дата:</p>
            <p>создан: @Html.TextBoxFor(x => x.CreationDate, new { type = "date" })</p>
            <p>Аттрибуты:</p>
            <p>
                @foreach (var item in Enum.GetNames(typeof(FileAttributes)))
	            {
                    <p>@Html.CheckBox(item) - @Html.Label(item)</p>;
                }
            </p>
            <p>Расширенный поиск:
                <p>
                    @Html.DropDownListFor(x => x.PluginModuleId, ((IEnumerable<IPluginModule>)ViewBag.Plugins).
                        Select(x => new SelectListItem() { Text = x.Name, Value = x.ToString()}), "Choose plugin...")
                </p>
            </p>
            <input type="submit" value="Искать" />
            <p>Найдено:  @Html.Label(((IEnumerable<string>)ViewBag.SearchedFiles).Count().ToString())</p>
            <p>
                @Html.ListBox("resultList", new MultiSelectList(ViewBag.SearchedFiles))
            </p>
        }
    </div>
</body>
</html>
